* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: light;
}

.bold {
    font-weight: bolder;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    padding: 10px 20px 10px 20px;
    border: solid 1px;
    background-color: rgb(34, 117, 103);
    color: white;
    margin: 2px;
}

ul {
    padding: 0;
    margin: 0;
}
main{
    width: 100vw;
}

section {
    padding: 20px;
    margin: 50px;
    width: 50vw;
    border: solid 1px; 
}


.regle {
    margin: 0px 0px 0px 25px;
}

.details {
    width: 40vw;
}